.set*.txt
bin/
builddir/
configure/RELEASE
dbd/
db/*.db
eemcuApp/Db/eemcu.substitutions
include/
iocBoot/ioceemcu/envPaths*
iocBoot/ioceemcu/st.cmd.centos*
iocBoot/ioceemcu/st.cmd.linux*
iocBoot/ioceemcu/st.cmd.darwin*
iocBoot/ioceemcu/st.cmd.*.EEE
iocBoot/ioceemcu/st.gdb.*
iocBoot/ioceemcu/xx
lib/
O.*/
*.pyc
*~
