.set*.txt
bin/
builddir/
configure/RELEASE
dbd/
db/*.db
TwinCATmotorApp/Db/TwinCATmotor.substitutions
include/
iocBoot/iocTwinCATmotor/envPaths*
iocBoot/iocTwinCATmotor/st.cmd.centos*
iocBoot/iocTwinCATmotor/st.cmd.linux*
iocBoot/iocTwinCATmotor/st.cmd.darwin*
iocBoot/iocTwinCATmotor/st.cmd.EEE
iocBoot/iocTwinCATmotor/st.gdb.*
iocBoot/iocTwinCATmotor/xx
lib/
O.*/
*.pyc
*~
